[package]
name = "altherma-gateway"
version = "0.1.0"
edition = "2021"
authors = ["Michael P. Jung <michael.jung@terreon.de>"]
description = "Gateway compatible with ROTEX based DAIKIN Altherma 3 heat pump"
keywords = ["daikin", "altherma", "gateway", "heat pump"]
license = "GPL-3.0"
repository = "https://github.com/bikeshedder/altherma-gateway"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
axum = "0.6.18"
clap = { version = "4.3.4", features = ["derive"] }
config = { version = "0.13.3", default-features = false, features = ["toml"] }
futures-util = "0.3.28"
indexmap = { version = "2.0.0", features = ["serde"] }
lazy_static = "1.4.0"
regex = "1.9.1"
rumqttc = "0.22.0"
serde = { version = "1.0.164", features = ["derive"] }
serde-hex = "0.1.0"
serde_json = "1.0.96"
serde_yaml = "0.9.22"
serialport = { version = "4", features = ["serde"] }
socketcan = { git = "https://github.com/socketcan-rs/socketcan-rs", version = "2.0.0", features = ["tokio"] }
thiserror = "1.0.40"
time = { version = "0.3.23", features = ["serde", "parsing", "macros", "serde-human-readable"] }
tokio = { version = "1.28.2", features = ["macros", "rt-multi-thread", "io-util", "sync"] }
tokio-serial = "5.4.4"
toml = "0.7.6"
tracing = { version = "0.1.37", features = ["async-await"] }
tracing-subscriber = "0.3.17"
